@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.centered {
		@apply w-full max-w-screen-xl px-6 mx-auto sm:px-8;
	}

	.h1 {
		@apply text-3xl md:text-4xl leading-tight font-semibold;
	}

	.h2 {
		@apply text-2xl md:text-3xl leading-tight font-bold;
	}

	.h3 {
		@apply text-lg font-bold sm:text-xl md:text-3xl;
	}

	.button {
		@apply shadow px-4 flex items-center gap-2 py-1.5 font-semibold rounded-full hover:brightness-110 relative overflow-hidden;
	}
	.button {
		@apply after:absolute after:w-full after:left-0 after:top-0 after:h-full after:bg-opacity-10 after:bg-white after:translate-x-full hover:after:translate-x-0 after:transition-transform;
	}
}

@layer utilities {
	@media (prefers-reduced-motion: no-preference) {
		.before-visible-left {
			@apply -translate-x-10 opacity-0;
		}
		.before-visible-right {
			@apply translate-x-10 opacity-0;
		}
		.before-visible-bottom {
			@apply translate-y-10 opacity-0;
		}
		.before-visible-bottom-shrink {
			opacity: 0;
			/* 
        for some reason in the blink engine, transitioning from scaleX and 
        scaleY causes performance issues, tailwind uses scaleX and scaleY so we 
        have to use scale() instead which does not cause frame drops.
       */
			transform: translateY(2.5rem) scale(1.1);
		}
	}
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: url('/fonts/hanken-grot.ttf');
}

:root {
	color-scheme: only light;
}

html,
body {
	font-family: 'Hanken Grotesk', sans-serif;
	height: 100%;
	width: 100%;
}

body {
	background-attachment: fixed;
	background-image: radial-gradient(
			ellipse farthest-corner at 84.14% 0%,
			rgba(180, 216, 255, 0.56) 0%,
			rgba(0, 0, 0, 0) 20%
		),
		radial-gradient(
			ellipse farthest-corner at 40.86% 0%,
			rgba(214, 178, 255, 0.69) 0%,
			rgba(0, 0, 0, 0) 49%
		),
		radial-gradient(
			circle farthest-corner at 15.11% 0%,
			rgba(255, 145, 145, 0.36) 0%,
			rgba(0, 0, 0, 0) 20%
		);
	background-color: theme(colors.surface.100);
}

@media (max-width: calc(theme(screens.sm) - 1px)) {
	body {
		background-image: radial-gradient(
				ellipse farthest-corner at 84.14% 0%,
				rgba(180, 216, 255, 0.56) 0%,
				rgba(0, 0, 0, 0) 40%
			),
			radial-gradient(
				ellipse farthest-corner at 30% 0%,
				rgba(214, 178, 255, 0.69) 0%,
				rgba(0, 0, 0, 0) 49%
			);
	}
}
