@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.h1 {
		@apply text-3xl font-bold sm:text-4xl lg:text-5xl;
	}

	.h2 {
		@apply text-xl font-bold sm:text-2xl md:text-4xl;
	}

	.h3 {
		@apply text-lg font-bold sm:text-xl md:text-3xl;
	}

	.centered {
		@apply max-w-screen-xl px-6 mx-auto sm:px-8;
	}

	.button {
		@apply px-4 flex items-center gap-2 py-1.5 font-semibold border rounded-full hover:brightness-110 border-surface-800 relative overflow-hidden;
	}
	.button {
		@apply after:absolute after:w-full after:left-0 after:top-0 after:h-full after:bg-opacity-10 after:bg-white after:translate-x-full hover:after:translate-x-0 after:transition-transform;
	}
}

@layer utilities {
	.before-visible-left {
		@apply -translate-x-10 opacity-0;
	}

	.before-visible-right {
		@apply translate-x-10 opacity-0;
	}
}

html,
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/* TODO */
/* ::-webkit-scrollbar-thumb {
  @apply bg-surface-600 rounded-full;
}

::-webkit-scrollbar {
  @apply bg-surface-300;
} */

body {
	background-repeat: no-repeat;
	background: radial-gradient(
			ellipse farthest-corner at 100% 0%,
			rgba(159, 70, 255, 0.23) 0%,
			rgba(0, 0, 0, 0) 42%
		),
		radial-gradient(
			circle farthest-side at 100% 74.29%,
			rgba(255, 166, 159, 0.3) 0%,
			rgba(187, 173, 255, 0) 50%
		),
		radial-gradient(
			ellipse farthest-corner at 0% 96.28%,
			rgba(22, 255, 37, 0.16) 0%,
			rgba(0, 0, 0, 0) 63%
		),
		radial-gradient(
			circle farthest-corner at 0% 0%,
			rgba(251, 132, 72, 0.21) 0%,
			rgba(0, 0, 0, 0) 44%
		);
	@apply bg-surface-100;
}

@media (max-width: 768px) {
	body {
		background: radial-gradient(
				ellipse farthest-corner at 0% 0%,
				rgba(159, 70, 255, 0.23) 0%,
				rgba(0, 0, 0, 0) 69%
			),
			radial-gradient(
				ellipse farthest-corner at 0% 100%,
				rgba(22, 255, 37, 0.16) 0%,
				rgba(0, 0, 0, 0) 63%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 47.34%,
				rgba(251, 132, 72, 0.2) 0%,
				rgba(0, 0, 0, 0) 65%
			);
	}
}
