@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.h1 {
		@apply text-3xl font-bold sm:text-4xl lg:text-5xl;
	}

	.h2 {
		@apply text-xl font-bold sm:text-2xl md:text-4xl;
	}

	.h3 {
		@apply text-lg font-bold sm:text-xl md:text-3xl;
	}

	.centered {
		@apply max-w-screen-xl px-6 mx-auto sm:px-8;
	}

	.button {
		@apply px-4 flex items-center gap-2 py-1.5 font-semibold border rounded-full hover:brightness-110 border-surface-800 relative overflow-hidden;
	}
	.button {
		@apply after:absolute after:w-full after:left-0 after:top-0 after:h-full after:bg-opacity-10 after:bg-white after:translate-x-full hover:after:translate-x-0 after:transition-transform;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	background-repeat: no-repeat;
	background-image: radial-gradient(
			ellipse at 0% 0%,
			hsl(324.88deg 70% 77.42% / 78.42%) 0%,
			hsl(0deg 0% 0% / 0%) 50%
		),
		radial-gradient(
			ellipse at 100% 0%,
			hsl(260.67deg 66.8% 68% / 100%) 0%,
			hsl(0deg 0% 0% / 0%) 50%
		),
		radial-gradient(
			ellipse at 0% 58.13%,
			hsl(301.07deg 70% 86.24% / 80.82%) 0%,
			hsl(0deg 0% 0% / 0%) 50%
		),
		radial-gradient(
			ellipse at 91.1% 100%,
			hsl(206.56deg 79.42% 79.62% / 87.64%) 0%,
			hsl(0deg 0% 0% / 0%) 50%
		);
}
